In [1]:
from jupyter_core.paths import jupyter_data_dir
print(jupyter_data_dir())

C:\Users\User\AppData\Roaming\jupyter

In [2]:
sys.executable

'C:\\ProgramData\\Anaconda3\\python.exe'

In [3]:

import seaborn as sns

In [2]:
# 1) Business Question
# 2) Data Collection
# 3) Preprocessing
# 4) Model(s) Creation
# 5) Model Evaluation and Comparison
# 6) Conclusion and Future Improvements
import pandas as pd
import numpy as np
import math
from datetime import datetime
import scipy
from scipy import stats
#Graph
import seaborn as sns
import matplotlib.pyplot as plt
#sklearn
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

from  sklearn.impute import SimpleImputer

In [2]:
# df = pd.read_csv("./data/application_train.csv" )
# "','".join(list(df.columns))
columns_to_drop = ['EXT_SOURCE_1','EXT_SOURCE_2','APARTMENTS_AVG','BASEMENTAREA_AVG','YEARS_BEGINEXPLUATATION_AVG','YEARS_BUILD_AVG','COMMONAREA_AVG','ELEVATORS_AVG','ENTRANCES_AVG','FLOORSMAX_AVG','FLOORSMIN_AVG','LANDAREA_AVG','LIVINGAPARTMENTS_AVG','LIVINGAREA_AVG','NONLIVINGAPARTMENTS_AVG','NONLIVINGAREA_AVG','APARTMENTS_MODE','BASEMENTAREA_MODE','YEARS_BEGINEXPLUATATION_MODE','YEARS_BUILD_MODE','COMMONAREA_MODE','ELEVATORS_MODE','ENTRANCES_MODE','FLOORSMAX_MODE','FLOORSMIN_MODE','LANDAREA_MODE','LIVINGAPARTMENTS_MODE','LIVINGAREA_MODE','NONLIVINGAPARTMENTS_MODE','NONLIVINGAREA_MODE','APARTMENTS_MEDI','BASEMENTAREA_MEDI','YEARS_BEGINEXPLUATATION_MEDI','YEARS_BUILD_MEDI','COMMONAREA_MEDI','ELEVATORS_MEDI','ENTRANCES_MEDI','FLOORSMAX_MEDI','FLOORSMIN_MEDI','LANDAREA_MEDI','LIVINGAPARTMENTS_MEDI','LIVINGAREA_MEDI','NONLIVINGAPARTMENTS_MEDI','NONLIVINGAREA_MEDI','FONDKAPREMONT_MODE','HOUSETYPE_MODE','TOTALAREA_MODE','WALLSMATERIAL_MODE','EMERGENCYSTATE_MODE','OBS_30_CNT_SOCIAL_CIRCLE','DEF_30_CNT_SOCIAL_CIRCLE','OBS_60_CNT_SOCIAL_CIRCLE','DEF_60_CNT_SOCIAL_CIRCLE','DAYS_LAST_PHONE_CHANGE','FLAG_DOCUMENT_2','FLAG_DOCUMENT_3','FLAG_DOCUMENT_4','FLAG_DOCUMENT_5','FLAG_DOCUMENT_6','FLAG_DOCUMENT_7','FLAG_DOCUMENT_8','FLAG_DOCUMENT_9','FLAG_DOCUMENT_10','FLAG_DOCUMENT_11','FLAG_DOCUMENT_12','FLAG_DOCUMENT_13','FLAG_DOCUMENT_14','FLAG_DOCUMENT_15','FLAG_DOCUMENT_16','FLAG_DOCUMENT_17','FLAG_DOCUMENT_18','FLAG_DOCUMENT_19','FLAG_DOCUMENT_20','FLAG_DOCUMENT_21','AMT_REQ_CREDIT_BUREAU_HOUR','AMT_REQ_CREDIT_BUREAU_DAY','AMT_REQ_CREDIT_BUREAU_WEEK','AMT_REQ_CREDIT_BUREAU_MON','AMT_REQ_CREDIT_BUREAU_QRT','AMT_REQ_CREDIT_BUREAU_YEAR']   #'EXT_SOURCE_3'

In [7]:
#Load DataFrame
df = pd.read_csv("./data/application_train.csv" ) #  index_col=0  ID which is used for mapping other excel files goes to index column

# df.head()
# df.isna().sum()
#df.duplicated().sum()
#df.dropna(inplace=True,axis=0)

print('original shape: ' , df.shape)
#--------------------------------------------------Data Preprocessing--------------------------------------------------


#>>>Missing values
#drop these columns > open to use dimensional reduction tool later
#Method 1:  
df.drop(columns=columns_to_drop, inplace=True)
#drop these columns with around 50% missing values
df.drop(columns=['OWN_CAR_AGE','OCCUPATION_TYPE'], inplace=True)
#drop ID
df.drop(columns=['SK_ID_CURR'], inplace=True)
#To fill up missing values for numerical columns
#Method 1:
#for col in ['AMT_ANNUITY','AMT_GOODS_PRICE','CNT_FAM_MEMBERS']:
#    df[col].fillna(  df[col].median()  ,inplace=True)
#Method 2:
from  sklearn.impute import SimpleImputer      
df[['AMT_ANNUITY','AMT_GOODS_PRICE','CNT_FAM_MEMBERS']] = SimpleImputer(strategy="median").fit_transform(df[['AMT_ANNUITY','AMT_GOODS_PRICE','CNT_FAM_MEMBERS']])
#To fill up missing values for categorical columns
df['NAME_TYPE_SUITE'].fillna(  df['NAME_TYPE_SUITE'].mode()[0]  ,inplace=True)
#Method 2: (super slow) df[['NAME_TYPE_SUITE']] = SimpleImputer(strategy="most_frequent").fit_transform(df[['NAME_TYPE_SUITE']])    


df.dropna(inplace=True,axis=0)  #To keep EXT_SOURCE_3  which has correlation, but with too many missing values

#--------------------------------------------------Data Preprocessing--------------------------------------------------
print('shape after: ' , df.shape)
df.head()

original shape:  (307511, 122)
shape after:  (246546, 39)

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_3
0,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.139376
2,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,MONDAY,9,0,0,0,0,0,0,Government,0.729567
5,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,454500.0,...,WEDNESDAY,16,0,0,0,0,0,0,Other,0.621226
6,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,1395000.0,...,SUNDAY,16,0,0,0,0,0,0,Business Entity Type 3,0.492060
7,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,1530000.0,...,MONDAY,16,0,0,0,0,1,1,Other,0.540654

In [22]:
for col in df.columns:
    #print(type(df[col][0]))
    if (type(df[col][0])==str) :
        #print(col , '  :  ' , df[col].unique())
        print(col, '---------------------------------------------------------:\n' , df[col].value_counts())

NAME_CONTRACT_TYPE ---------------------------------------------------------:
 Cash loans         223574
Revolving loans     22972
Name: NAME_CONTRACT_TYPE, dtype: int64
CODE_GENDER ---------------------------------------------------------:
 F      163835
M       82707
XNA         4
Name: CODE_GENDER, dtype: int64
FLAG_OWN_CAR ---------------------------------------------------------:
 N    160277
Y     86269
Name: FLAG_OWN_CAR, dtype: int64
FLAG_OWN_REALTY ---------------------------------------------------------:
 Y    170172
N     76374
Name: FLAG_OWN_REALTY, dtype: int64
NAME_TYPE_SUITE ---------------------------------------------------------:
 Unaccompanied      201299
Family              31759
Spouse, partner      8768
Children             2551
Other_B              1323
Other_A               637
Group of people       209
Name: NAME_TYPE_SUITE, dtype: int64
NAME_INCOME_TYPE ---------------------------------------------------------:
 Working                 126994
Commercial associate     56746
Pensioner                44309
State servant            18474
Student                     14
Unemployed                   5
Businessman                  4
Name: NAME_INCOME_TYPE, dtype: int64
NAME_EDUCATION_TYPE ---------------------------------------------------------:
 Secondary / secondary special    173464
Higher education                  62203
Incomplete higher                  7890
Lower secondary                    2852
Academic degree                     137
Name: NAME_EDUCATION_TYPE, dtype: int64
NAME_FAMILY_STATUS ---------------------------------------------------------:
 Married                 160348
Single / not married     34435
Civil marriage           22703
Separated                16149
Widow                    12910
Unknown                      1
Name: NAME_FAMILY_STATUS, dtype: int64
NAME_HOUSING_TYPE ---------------------------------------------------------:
 House / apartment      219804
With parents            11284
Municipal apartment      8815
Rented apartment         3625
Office apartment         2087
Co-op apartment           931
Name: NAME_HOUSING_TYPE, dtype: int64
WEEKDAY_APPR_PROCESS_START ---------------------------------------------------------:
 WEDNESDAY    42446
TUESDAY      42094
FRIDAY       40893
THURSDAY     40700
MONDAY       40142
SATURDAY     27545
SUNDAY       12726
Name: WEEKDAY_APPR_PROCESS_START, dtype: int64
ORGANIZATION_TYPE ---------------------------------------------------------:
 Business Entity Type 3    53764
XNA                       44305
Self-employed             28789
Other                     13476
Medicine                   9558
Business Entity Type 2     8867
Government                 8765
School                     7544
Trade: type 7              5984
Kindergarten               5794
Construction               5230
Business Entity Type 1     4929
Transport: type 4          4329
Industry: type 9           2880
Trade: type 3              2802
Industry: type 3           2686
Security                   2606
Housing                    2414
Industry: type 11          2225
Military                   2216
Bank                       2106
Police                     2056
Transport: type 2          1943
Agriculture                1876
Security Ministries        1754
Postal                     1723
Trade: type 2              1448
Restaurant                 1366
Services                   1213
University                 1111
Industry: type 7           1095
Transport: type 3           876
Industry: type 1            853
Electricity                 808
Hotel                       774
Industry: type 4            702
Industry: type 5            522
Trade: type 6               515
Emergency                   485
Telecom                     483
Insurance                   467
Industry: type 2            385
Advertising                 349
Realtor                     316
Culture                     306
Industry: type 12           298
Trade: type 1               279
Mobile                      260
Legal Services              243
Cleaning                    203
Transport: type 1           171
Industry: type 10            92
Industry: type 6             86
Religion                     68
Trade: type 4                52
Industry: type 13            45
Trade: type 5                38
Industry: type 8             16
Name: ORGANIZATION_TYPE, dtype: int64

In [ ]:
##Drop 50%
#Load DataFrame
df = pd.read_csv("./data/application_train.csv" )#  , index_col=0 ID which is used for mapping other excel files goes to index column

# df.head()
# df.isna().sum()
#df.duplicated().sum()
#df.dropna(inplace=True,axis=0)

print('original shape: ' , df.shape)
#--------------------------------------------------Data Preprocessing--------------------------------------------------

#>>>Missing values
#drop these columns with around 50% missing values
df = df.dropna(axis=1, thresh=int(0.5*len(df)))
df.drop(columns=['OCCUPATION_TYPE'], inplace=True)


#To fill up missing values for numerical columns
num_lst, obj_lst =[],[]
for col in df.columns:
    if df[col].isna().sum() != 0 :
        if (type(df[col][0])==np.float64) | (type(df[col][0])==np.int64):       #type(df['AMT_ANNUITY'][0])==np.float64
            num_lst.append(col)
        else:
            obj_lst.append(col)
print('num_lst with missing value was ' ,num_lst)
df[num_lst] = SimpleImputer(strategy="median").fit_transform(df[num_lst])
#To fill up missing values for categorical columns
for obj in obj_lst:
    df[obj].fillna(  df[obj].mode()[0]  ,inplace=True)
#Method 2: (super slow) df[['NAME_TYPE_SUITE']] = SimpleImputer(strategy="most_frequent").fit_transform(df[['NAME_TYPE_SUITE']])    

#--------------------------------------------------Data Preprocessing--------------------------------------------------
print('shape after: ' , df.shape)
df.head()
df.isna().sum()

In [58]:
#Any missing value
lst=[]
for col in df.columns:
    if df[col].isna().sum() != 0:
        print(col , '...' , df[col].isna().sum())
        lst.append(col)
##print(df[[col]].info())

In [103]:
##Drop 50%
#Load DataFrame
df = pd.read_csv("./data/application_train.csv" )#  , index_col=0 ID which is used for mapping other excel files goes to index column

# df.head()
# df.isna().sum()
#df.duplicated().sum()
#df.dropna(inplace=True,axis=0)

print('original shape: ' , df.shape)

df_corr = pd.DataFrame( df.corr()['TARGET'])
df_corr

len([df[list(df_corr.index)[x]].isna().sum() for x in range(len(pd.DataFrame(df_corr)['TARGET']))])
#    print(  'name: ' ,list(df_corr.index)[x]  , 'corr:      ' , pd.DataFrame(df_corr)['TARGET'][x] , 'missing values: ' , df[list(df_corr.index)[x]].isna().sum())

original shape:  (307511, 122)

106

In [115]:
pd.set_option('display.max_rows', None)
#for x in range(len(pd.DataFrame(df_corr)['TARGET'])):
#    print(  'name: ' ,list(df_corr.index)[x]  , 'corr:      ' , pd.DataFrame(df_corr)['TARGET'][x] , 'missing values: ' , df[list(df_corr.index)[x]].isna().sum())
df_corr = pd.DataFrame( df.corr()['TARGET'])
df_corr['MissingValue'] = [df[list(df_corr.index)[x]].isna().sum() for x in range(len(pd.DataFrame(df_corr)['TARGET']))]
df_corr = df_corr[df_corr['MissingValue']>30000].sort_values(by=['TARGET'])
#Keep 3percent
df_corr = df_corr[(df_corr['TARGET']<=-0.03)|(df_corr['TARGET']>=0.04)]
print('shape: ',df_corr.shape)
print(df_corr)

shape:  (15, 2)
                   TARGET  MissingValue
EXT_SOURCE_3    -0.178919         60965
EXT_SOURCE_1    -0.155317        173378
FLOORSMAX_AVG   -0.044003        153020
FLOORSMAX_MEDI  -0.043768        153020
FLOORSMAX_MODE  -0.043226        153020
ELEVATORS_AVG   -0.034199        163891
ELEVATORS_MEDI  -0.033863        163891
FLOORSMIN_AVG   -0.033614        208642
FLOORSMIN_MEDI  -0.033394        208642
LIVINGAREA_AVG  -0.032997        154350
LIVINGAREA_MEDI -0.032739        154350
FLOORSMIN_MODE  -0.032698        208642
TOTALAREA_MODE  -0.032596        148431
ELEVATORS_MODE  -0.032131        163891
LIVINGAREA_MODE -0.030685        154350

In [74]:
df_corr.shape[0]
for x in range(0,df_corr.shape[0]):
    df_corr

106

In [ ]:
pd.set_option('display.max_rows', 10)

In [ ]:
drop proper columns
work on missing values (with mean and median)
model coding